# Backend
engine/target
engine/output/*

# Benchmarks
benchmark/data
benchmark/analysis/output

# Generic
*.egg-info
.venv
node_modules
gh-pages
__pycache__
.DS_Store

# Docker
DOCKER_MOUNT
pldi25ae-honeybee.tar.gz

# Editor
editor/www/elm.js
editor/elm-stuff
