/* || General styles */

* {
    box-sizing: border-box;
}

:root {
    /* --primary-color: #c5d0d2;
    --muted-primary-color: #829599;
    --secondary-color: #17170f;
    --accent-color: #b5661b;
    --hover-color: rgba(0, 0, 0, 0.05); */

    --accent1: #bd6e08;
    --accent2: #a65b23;

    --primary1: #d6dbdf;
    --primary2: #c3cbd5;
    --primary3: #8090a0;
    --primary4: #36404d;
    --primary5: #202530;
    --hover: rgba(0, 0, 0, 0.03);

    --major-spacing: 30px;
    --minor-spacing: 10px;

    --bold: 600;
}

body {
    background-color: var(--primary2);
    color: var(--primary5);
    font-family: "Spline Sans", sans-serif;
}

h3 {
    font-size: 1.1em;
    font-weight: var(--bold);
    margin-top: var(--major-spacing);
    margin-bottom: var(--minor-spacing);
    margin-left: 10px;
}

pre {
    white-space: pre;
}

code {
    font-family: "Inconsolata", monospace;
}

.standout-button {
    display: block;
    width: 100%;
    padding: 30px;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: var(--accent2);
    color: var(--primary1);
    cursor: pointer;
    outline: 0;
    border: none;
}

.standout-button:not([disabled]):hover {
    background-color: var(--accent1);
}

.standout-button[disabled] {
    cursor: not-allowed;
    background-color: var(--primary3);
}

/* || Main */

main {
    display: flex;
    margin: var(--major-spacing);
    column-gap: var(--major-spacing);
}

main > * {
    flex: 1;
}

main > * > h2 {
    margin-bottom: var(--major-spacing);
    font-size: 1.4em;
}

main > * > h2 span:first-child {
    font-weight: var(--bold);
}

/* || Steps */

.step {
    background-color: var(--primary1);
    border: 1px solid var(--primary3);
    margin: var(--minor-spacing) 0;
    padding: var(--minor-spacing);
    border-radius: 5px;
    /*box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);*/
}

.step-add {
    display: block;
    width: 100%;

    font-size: 1.1em;

    background-color: transparent;
    border: 1px dashed var(--primary3);
    border-radius: 5px;

    margin-bottom: var(--major-spacing);
    padding: 30px;

    cursor: pointer;
}

.step-add:hover {
    background-color: var(--hover);
}

.step label {
    display: inline-block;
    background-color: var(--primary1);
    position: relative;
    z-index: 1;
    bottom: -6px;
    left: 10px;
    padding: 0 3px;
}

.step input {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 1px dotted var(--primary3);
    border-radius: 5px;
    padding: 11px;
    outline: none;
}

.step input:focus {
    border: 1px solid var(--primary3);
}

.step-title {
    width: 75%;
    font-size: 1em;
    margin-bottom: var(--minor-spacing);
}

.step-arg {
    margin-bottom: var(--minor-spacing);
}

.suggestion-tip {
    margin-top: 5px;
    margin-left: 10px;
}

.suggestion-tip::before {
    content: "[Tip] ";
    vertical-align: super;
    font-size: 0.7em;
}

.step-delete {
    display: inline-block;
    float: right;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: var(--bold);
    padding: 5px;
}

.step-delete:hover {
    background-color: var(--hover);
    border-radius: 5px;
}

/* || Programming by Navigation */

.pbn-inactive {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.pbn-inactive div {
    position: relative;
    padding: var(--major-spacing);
    border: 1px solid var(--primary3);
    border-radius: 5px;
    pointer-events: all;
}

.pbn-inactive div p + p {
    margin-top: var(--minor-spacing);
}

.pbn-impossible p {
    font-size: 1.1em;
    line-height: 1.4;
    margin-bottom: var(--minor-spacing);
}

.pbn-impossible p:first-child {
    font-weight: var(--bold);
}

.direct-manipulation-pbn {
    margin-left: 10px;
}

.code-line code {
    display: inline-block;
}

.pbn-completed h3 {
    margin-bottom: var(--minor-spacing);
}
