#blockly {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1
}

#compile {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;

  padding: 10px;
}

#bee {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
}
