:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  box-sizing: border-box;

  --bold: 600;
  --shadow: 2px 2px 0px #333;
  --rounding: 5px;
  --ff: "Inter", sans-serif;
  --text-spacing: 10px;
}

body {
  background-image: url("assets/bg.svg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100px 94px;

  color: #000000;
  font-family: var(--ff);
  font-size: 15px;

  line-height: 1.3;
}

html,
body {
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
  padding: 20px;
}

h2 {
  font-weight: var(--bold);
  font-size: 1.2em;
  margin-bottom: var(--text-spacing);
}

select {
  margin-bottom: var(--text-spacing);
  width: 100%;
  font-size: 1.1em;
  padding: 5px;
}

button {
  padding: 10px;
  font-size: 1.1em;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 2px solid #000000;
  box-shadow: var(--shadow);
  border-radius: var(--rounding);
}

.panel header {
  text-align: center;
  border-bottom: 1px dotted #000000;
  padding: 5px;
}

.panel footer {
  text-align: right;
  padding: 20px;
}

.panel section {
  padding: 20px;
  flex: 1;
}

h1 {
  font-weight: var(--bold);
  font-size: 1.3em;
}

.waiting {
  text-align: center;
}

.pane-inactive {
  cursor: not-allowed;
  color: #888;
}


.pane+.pane {
  margin-top: 10px;
}

#code-panel {
  flex: 1;
  height: 100%;
}

#control-panel {
  flex: 0 0 600px;
  height: 400px;
}