:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  box-sizing: border-box;

  --bold: 600;
  --shadow: 2px 2px 0px #333;
  --rounding: 5px;
  --ff: "Inter", sans-serif;
  --text-spacing: 10px;
  --choice-color: #ff4d37;
}

body {
  background-image: url("assets/bg.svg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100px 94px;

  color: #000000;
  font-family: var(--ff);
  font-size: 15px;
}

html,
body {
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
  padding: 20px;
}

h2 {
  font-weight: var(--bold);
  font-size: 1.2em;
  margin-bottom: var(--text-spacing);
}

h3 {
  font-weight: var(--bold);
  font-size: 1.1em;
  margin-bottom: var(--text-spacing);
}

select {
  margin-bottom: var(--text-spacing);
  width: 100%;
  font-size: 1.1em;
  padding: 5px;
}

button {
  padding: 10px;
  font-size: 1.1em;
}

button[disabled] {
  cursor: not-allowed;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 2px solid #000000;
  box-shadow: var(--shadow);
  border-radius: var(--rounding);
  min-width: 0;
}

.panel header {
  position: sticky;
  top: 0;
  background-color: white;
  background: repeating-linear-gradient(180deg,
      white,
      white 3px,
      #EEE 3px,
      #EEE 6px);
  text-align: center;
  /* border-bottom: 1px dotted #000000; */
  margin: 5px 10px;
}

.panel header h1 {
  background-color: white;
  display: inline-block;
  padding: 0 10px;
}

.panel footer {
  text-align: right;
  padding: 20px;
}

.panel footer button {
  margin-left: 20px;
}

.panel footer .left {
  margin-left: 0;
  float: left;
}

.panel>section {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  line-height: 1.4;
}

.panel p {
  margin-bottom: var(--text-spacing);
}

.cell+.cell {
  margin-top: 10px;
}

h1 {
  font-weight: var(--bold);
  font-size: 1.1em;
}

.waiting {
  text-align: center;
}

.pane-inactive {
  cursor: not-allowed;
  color: #888;
}


.pane+.pane {
  margin-top: 10px;
}

#code-panel {
  flex: 1;
  height: 100%;
}

#control-panel {
  flex: 0 0 600px;
  /* height: 400px; */
  height: 100%;
}

.code-container {
  border: 1px solid #E0E0E0;
  background-color: #F5F5F5;
  width: 100%;
  overflow-x: auto;
  padding: 5px;
  min-height: 2em;
  margin-bottom: 20px;
}

.markdown img {
  width: 100%;
}

.choice {
  background-color: var(--choice-color);
  color: white;
  font-style: normal;
  padding: 0px 3px 0 3px;
  text-transform: uppercase;
  font-weight: var(--bold);
  border-radius: var(--rounding);
}


.panel details {
  margin-left: 30px;
}

.panel details>div {
  border-left: 1px dashed black;
  padding-left: 10px;
  margin-left: 3px;
}

.panel summary {
  cursor: default;
  user-select: none;
  font-style: italic;
  margin-bottom: var(--text-spacing);
}

strong {
  font-weight: var(--bold);
}

.function-choices>li {
  padding: 5px;
  border-radius: 5px;
}

.function-choices>li.selected {
  background-color: rgba(0, 0, 0, 0.05);
}

.use {
  color: #888;
  font-size: 0.8em;
}

.markdown.inline {
  display: inline;
}

.markdown.inline>* {
  display: inline;
}

.tool-search-info {
  font-size: 0.7em;
  margin: 5px 0 5px 30px;
}

.tool-search-info li {
  display: inline-block;
  margin-right: 10px;
}

.tool-search-info img {
  width: auto;
  height: 1em;
  margin-right: 2px;
  vertical-align: top;
  position: relative;
  top: 2px;
}

.markdown li {
  margin-bottom: var(--text-spacing);
}

.markdown blockquote {
  color: #888;
  border-left: 5px solid #888;
  padding: 0 10px;
  margin-bottom: 10px;
}

.markdown h1 {

  margin-bottom: var(--text-spacing);
}

.markdown em,
.markdown i {
  font-style: italic;
}

.markdown strong,
.markdown b {
  font-weight: var(--bold);
}

.markdown .more-info {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dashed;
  position: relative;
}

.markdown .more-info>span {
  display: block !important;
  visibility: hidden;
  background-color: #fff;
  width: 300px;
  font-size: 0.8em;
  padding: 10px;
  border: 2px solid black;
  border-radius: var(--rounding);
  position: absolute;
  bottom: 3em;
  left: calc(50% - 150px);
  z-index: 5;
}

.markdown .more-info:hover>span {
  visibility: visible;
}

.markdown .more-info>span:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  position: absolute;
  bottom: -12px;
  left: calc(50% - 12px);
  z-index: 6;
}

.markdown .more-info>span:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid black;
  position: absolute;
  bottom: -15px;
  left: calc(50% - 15px);
}

.cell-choice {
  padding: 20px;
  text-align: center;
  color: #888;
  border-radius: var(--rounding);
  border: 1px dashed #888;
}

#active-choice-cell {
  scroll-margin-top: 10px;
}